.more_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 12rem;
}
.more_details__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.more_details__left__title {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--tertiary-font);
  color: #fbcd08;
}
.more_details__left__subtitle {
  font-size: 1.5rem;
  color: #ff9900;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.more_details__left__buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.more_details__left__button {
  background-color: #fbcd08;
  color: #064663;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--tertiary-font);
  border: none;
  outline: none;
  cursor: pointer;
}
.more_details__left__button:hover {
  background-color: #b69505;
}
.more_details__right__image {
  width: 100%;
  height: auto;
}
.more_details__right__image img {
  width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  .more_details {
    padding: 2rem;
  }
  .main__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .more_details__left__title {
    font-size: 2rem;
  }
  .more_details__left__subtitle {
    font-size: 1rem;
  }
  .more_details__left__button {
    font-size: 1rem;
  }
  .more_details__right__image img {
    width: 20rem;
  }

  .more_details__left {
    width: 100%;
  }
  .more_details__right__image {
    width: 100%;
  }
}
