.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding-left: 12rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-right: 12rem;
  color: #fff;
}
.about__left {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.about__left__title {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--tertiary-font);
}
.about__left__subtitle {
  font-size: 1.5rem;
  color: #ff9900;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.about__left__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.about__left__button {
  background-color: #fbcd08;
  color: #064663;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--tertiary-font);
  border: none;
  outline: none;
  cursor: pointer;
}
.about__left__button:hover {
  background-color: #b69505;
}
.about__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__right__image img {
  width: 30rem;
  height: auto;
}
@media (max-width: 900px) {
  .about {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
  .about__left__title {
    font-size: 2rem;
  }
  .about__left__subtitle {
    font-size: 1rem;
  }
  .about__left__button {
    font-size: 1rem;
  }
  .about__right__image img {
    width: 20rem;
  }
}
