.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  padding: 12rem;
  color: #fbcd08;
}
.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.hero__left__title {
  font-size: 5rem;
  font-weight: 700;
  font-family: var(--tertiary-font);
}
.hero__left__subtitle {
  font-size: 2rem;
  color: #ff9900;
  font-weight: 500;
  font-family: var(--secondary-font);
}
.hero__left__buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.hero__left__button {
  background-color: #fbcd08;
  color: #064663;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--tertiary-font);
  border: none;
  outline: none;
  cursor: pointer;
}
.hero__left__button:hover {
  background-color: #b69505;
}
.hero__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__right__image {
  width: 100%;
}
@media (max-width: 900px) {
  .hero {
    padding: 2rem;
    padding-top: 12rem;
  }
  .hero__left__title {
    font-size: 3rem;
  }
  .hero__left__subtitle {
    font-size: 1.5rem;
  }
  .hero__left__button {
    font-size: 1rem;
  }
  .hero__right img {
    width: 100%;
    height: auto;
  }
}
